*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;

}
a:hover{
    text-decoration: none !important;
    color: #f5e3ae !important;
}
@media (min-width: 992px) .navi-css{
        flex-direction: row;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
}

#main{
    width: 100%;
}
.wrapper{
    margin: 0 auto;
    width: 1200px;
}
/* css cho phần header*/
.header{
    width: 100%;
	display: flex;
}
.navi-css{
    display: flex;
    list-style: none;
}
a.nav-link{
    color: #ff890b;
}
.drop-toggle{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.drop-menu a{
    display: none;
    color: #ff890b;
}
.drop-menu a:hover{
    text-decoration: none !important;
}
.drop-item{
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    display: block !important;
}
#navbarNavDropdown .navi-css li:hover .drop-menu{display: block !important;}
.navi-css .dropdown .drop-menu{
    display: none;
    width: 250px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 9999;
}
.header-section .tobica-login .btn-warning{
    margin: 11px;
    margin-left: 160px;
    display: block;
    float: left;
}
.tobica-logo{
	float: left;
}
.tobica-nav{
	float: left;
}
.tobica-login{
	float: left;
}
/* css cho phần content*/

.content-tobica{
    /* width: 100%; */
    height: 500px;
    background-color: white;
}
.tobica-content-aboutus{
    height: 600px;
    background-color: #eeeeee;
    padding-top: 50px;
}
.tobica-content-aboutus .aboutus-welcome{
    font-size: 35px;
    font-weight: 600;

}
.tobica-content-leader .aboutus-leader{
    font-size: 30px;
    margin-top: 40px;
}
/* .tobica-content-leader-member{
    width: 100%;
} */
.tobica-content-leader-member{
    margin-top: 50px;
}
.tobica-content-leader-member .leader-member{
    width: 222px;
    float: left;
}
.tobica-content-leader-member .leader-member img{
    width: 150px;
    margin-left: 35px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.tobica-content-leader-member .leader-member figcaption{
    text-align: center;
}
/* css cho phần footer */
.tobica-pre-footer{
    background-color: #ff890bba;
    padding: 10px;
    font-size: 15px;
}
.tobica-pre-footer h5{
    font-weight: 700;
    font-size: 15px;
}
.tobica-pre-footer a{
    color: #000000;
}
.tobica-pre-footer li{
    list-style: none;
}
.tobica-footer{
    background-color: #ff890b;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}